@font-face {
    font-family: 'Distant Galaxy';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/SFDistantGalaxy.ttf");
}

@font-face {
    font-family: 'Anakin Mono';
    font-style: normal;
    src: url("./fonts/anakinmono.ttf");
}
